@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #00605f;
  --secondary-color: #017479;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
      to right,
      rgba(2, 82, 89, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url("../images/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav__logo {
  margin-right: auto;
}

.nav__logo img {
  width: 80px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 60px auto 20px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #060606;
  padding: 10px 20px;
  margin: 0;
}

p {
  text-align: center;
  color: #060606;
  margin: 0 0 20px 0;
}

.form-container {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-field {
  flex: 1 1 calc(50% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background: #0056b3;
}

.result {
  text-align: center;
  color: #007bff;
  font-size: 1.2em;
  margin-top: 20px;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

button#predictorBtn,
button#finderBtn {
  padding: 15px 25px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-size: 1.1em;
  transition: background 0.3s, transform 0.3s;
}

button#predictorBtn:hover,
button#finderBtn:hover {
  background: #0056b3;
  transform: scale(1.05);
}

#locationForm {
  text-align: center;
  margin-top: 20px;
}

#locationInput {
  width: calc(100% - 100px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}

#locationInput::placeholder {
  color: #999;
  font-style: italic;
}

#locationForm button {
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#locationForm button:hover {
  background: #0056b3;
}

#hospitalList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hospital-box {
  flex: 1 1 calc(50% - 10px);
  background: #f9f9f9;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.hospital-box a {
  color: #007bff;
  text-decoration: none;
}

.hospital-box a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .form-field {
      flex: 1 1 100%;
  }

  #locationInput {
      width: calc(100% - 20px);
      margin: 0 auto;
      display: block;
  }

  .button-group button {
      width: calc(100% - 20px);
      margin: 10px auto;
      display: block;
  }

  .hospital-box {
      flex: 1 1 100%;
  }
}
